global
    daemon
    maxconn 4096
    pidfile /var/run/haproxy.pid

defaults
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m
    option redispatch
    balance roundrobin

listen stats :1936
    mode http
    stats enable
    stats hide-version
    #stats realm Haproxy\ Statistics
    stats uri /
    stats auth willseward:Password

#
# Frontend 
#
frontend http *:80
    mode http
{% for service in services %}
    # services for {{ service }} @ {{ services[service].dns }}.urskul.com
    acl host_{{ services[service].dns }} hdr(host) -i {{ services[service].dns }}.urskul.com
    use_backend {{ services[service].dns }}_backend if host_{{ services[service].dns }}
{% endfor %}

#
# Backends
#
{% for service in services %}
# {{service}}
backend {{ service }}
    option httpclose
    option forwardfor
    {% for backend in services[service].backends %}
    server {{ backend.name }} {{ backend.addr }} check inter 2s rise 3 fall 2
    {% endfor %}
{% endfor %}
